/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(bank.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    height: 40vh;
    padding-top: 5vh;
}

.budget-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget-value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget-container{
    display: grid;
    grid-template-columns: 60% 40%;
}

.right-container{
display: grid;
grid-template-columns: auto auto;
}

.budget-income,
.budget-expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget-income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget-expenses {
    background-color: #FF5049;
}

.budget-income-text,
.budget-expenses-text {
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget-income-value,
.budget-expenses-value {
    letter-spacing: 1px;
}

.budget-income-percentage,
.budget-expenses-percentage {
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget-expenses-percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add-container {
    margin: 0 auto;
    text-align: center;
}

.add-type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add-description,
.add-value,
.add-date {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add-description { width: 400px;}
.add-value { width: 100px;}

.add-btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add-btn:active { transform: translateY(2px); }

.add-type:focus,
.add-description:focus,
.add-date:focus,
.add-value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add-btn:focus { outline: none; }

.add-date{
    display: none;
}

.red {
    color: #FF5049 !important;
}

.red-focus:focus{
    border: solid 1px #FF5049 !important;
}


/***** LISTS *****/
.container {
    width: 1000px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: auto auto;
}

.income {
    width: 475px;
    margin-right: 50px;
}

.expenses {
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.income-title { color: #28B9B5; }
.expenses-title { color: #FF5049; }

/********list items******/

.item{
    display: grid;
    grid-template-columns: auto auto auto;
    border-bottom: solid #e7e7e7 2px;
    padding: 10px 0px;
}

.item:first-child{
    border-top: solid #e7e7e7 2px;
}

.item:hover{
    background-color: #e7e7e7;
}

.item:hover .extra{
    display: grid;
    grid-template-columns: 80% 20%;
}

.item:hover .extra-expenses{
    grid-template-columns: 60% 25% 15%;
}

.item:hover .extra-expenses div{
    margin: 0px 5px;
}

.item:hover .item-delete{
    display: block;
}

.item-delete{
    display: none;
}

.extra{
    text-align: right;
    color: #28B9B5;
}

.extra-expenses{
    display: grid;
    grid-template-columns: 70% 30%;
    color:#FF5049;
    text-align: right;
}

.extra-expenses div{
    margin: 0px 15px;
}

.extra-expenses>.item-percentage{
    background-color:#cfbbbb ;
    font-size: 80%;
    font-weight: 600;
    padding: 3px 1px;
    border: solid #FF5049 5%;
    border-radius: 5px;
    text-align: center;
}

.button-delete{
    color: inherit;
    border: none;
    font-size: 150%;
    background-color: inherit;
}